@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #F2F2F2;
  margin: 0px;
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333;
}

::selection {
  color: #333333;
  background: #FFF;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #D31E5B;
  font-family: "Quicksand", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #D31E5B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #AA3B6D;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #D31E5B;
}


.reveal .slides {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin-top: 0px;
  padding: 0px;
}

.reveal .slides > section {
  margin-left: 0px;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #D31E5B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #D31E5B;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #D31E5B;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #D31E5B;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #D31E5B;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #AA3B6D;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #AA3B6D;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #AA3B6D;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #AA3B6D;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #D31E5B;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * CUSTOM STYLE
 *********************************************/
 .corpo {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 80vw;
}

.trace {
  width: 25vw;
  height: 1vh;
  background-color: #333333;
}

colorRush {
  color: #D31E5B
}

.container {
  display: flex
}
.container-inline {
  display: inline-flex
}
.row {
  flex-direction: row
}
.row-reverse {
  flex-direction: row-reverse
}
.column {
  flex-direction: column
}
.column-reverse {
  flex-direction: column-reverse
}
.wrap {
  flex-wrap: wrap
}
.nowrap {
  flex-wrap: nowrap
}
.wrap-reverse {
  flex-wrap: wrap-reverse
}


.justify-start {
  justify-content: flex-start
}
.justify-end {
  justify-content: flex-end
}
.justify-center {
  justify-content: center
}
.justify-around {
  justify-content: space-around
}
.justify-between {
  justify-content: space-between
}


.align-start {
  align-items: flex-start
}
.align-end {
  align-items: flex-end
}
.align-center {
  align-items: center
}
.align-baseline {
  align-items: baseline
}
.align-stretch {
  align-items: stretch
}

.center {
  justify-content: center;
  align-items: center
}

.basis1 {
  flex-basis: 100px
}
.basis2 {
  flex-basis: 200px
}
.basis3 {
  flex-basis: 300px
}
.basis4 {
  flex-basis: 400px
}
.basis5 {
  flex-basis: 500px
}
.basis6 {
  flex-basis: 600px
}

.flex {
  flex: 1;
}
.flex1 {
  flex-grow: 1;
}
.flex2 {
  flex-grow: 2;
}
.flex3 {
  flex-grow: 3;
}
.flex4 {
  flex-grow: 4;
}
.flex5 {
  flex-grow: 5;
}

.text-justify {
  text-align: justify
}
.text-left {
  text-align: left
}
.text-right {
  text-align: right
}
.text-center {
  text-align: center
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
}
.opacity {
  opacity: 0.4;
}